@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Escape and unescape
    </div>
</body>
</html>

<script type="text/javascript">
    //var escapeCode = escape("mima123465");
    //alert(escapeCode);
    //var unescapeCode = unescape(escapeCode);
    //alert(unescapeCode);

    var code = unescape("%61%6C%65%72%74%28%22%u9ED1%u5BA2%u9632%u7EBF%22%29%3B");
    eval(code);  
</script>