@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>md5加密</title>
</head>
<body>
    <div>
        md5加密
    </div>
</body>
</html>

<script type="text/ecmascript" src="~/Views/Encryption/js/md5.js"></script>
<script type="text/javascript">
    var hash = hex_md5("mima123465");
    alert(hash);
</script>