@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>sha1加密</title>
</head>
<body>
    <div>sha1加密</div>
    
</body>

</html>

<script type="text/ecmascript" src="~/Views/Encryption/js/sha1.js"></script>
<script type="text/javascript">
    var sha = hex_sha1('mima123465')
    alert(sha);
</script>  
