@{
    Layout = null;
}

<div>
    <button onclick="Refresh()">Refresh</button>
</div>

<script>
    function Refresh() {
        history.go(0);
        location.reload();
        location = location;
        location.assign(location);
        document.execCommand('Refresh');
        window.navigate(location);
        location.replace(location);
        document.URL = location.href;
    }
</script>