<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddTimeStampDemo</title>
    <link rel="stylesheet" href="~/Views/AddTimeStamp/css/AddTimeStampDemo.css?time='+new Date().getTime()+'">
    <script src="~/Views/AddTimeStamp/js/AddTimeStampDemo.js?time='+new Date().getTime()+'"></script>
</head>
<body>
    <div> 
        <h1>测试js/css加时间戳的问题</h1>
    </div>
</body>
</html>
