@{
    Layout = null;
}
<script src="~/Scripts/angular.min.js"></script>

<style>
    input.ng-invalid {
        border-color:red;
    }
</style>

<form ng-app="" name="myForm">
    输入你的名字:
    <input name="myName" ng-model="myText" required>
</form>

<p>编辑文本域，不同状态边框颜色会发送变化。</p>
<p>文本域添加了 required 属性，该值是必须的，如果为空则是不合法的。</p>
