@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        微信绑定
    </div>
    <img src="/WeiXin/GetBindWeChatImg"/>
</body>
</html>
