<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>
        Filter features by geometry with SceneLayer | Sample | ArcGIS API for
        JavaScript 4.17
    </title>
    <style>
        html,
        body,
        #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }

        #infoDiv {
            background-color: white;
            padding: 10px;
            width: 260px;
            margin: 5px;
            position: absolute;
            bottom: 15px;
            right: 10px;
            font-size: 14px;
            display: none;
        }

        .geometry-options {
            display: flex;
            flex-direction: row;
        }

        .geometry-button {
            flex: 1;
            border-style: solid;
            border-width: 1px;
            border-image: none;
        }

        .geometry-button-selected {
            background: #4c4c4c;
            color: #fff;
        }

        .options {
            max-width: 260px;
            width: 100%;
            height: 25px;
        }

        #bufferNum {
            width: 90%;
            margin: 2.5em auto 0;
        }

        .esri-editor .esri-item-list__scroller {
            max-height: 350px;
        }

        #setting {
            padding: 10px;
        }
    </style>

    <link rel="stylesheet"
          href="https://js.arcgis.com/4.17/esri/themes/light/main.css" />
    <script src="https://js.arcgis.com/4.17/"></script>

    <script>
    require([
            "esri/WebScene",
            "esri/views/SceneView",
            "esri/layers/GraphicsLayer",
            "esri/widgets/Sketch/SketchViewModel",
            "esri/widgets/Slider",
            "esri/views/layers/support/FeatureFilter",
            "esri/geometry/geometryEngine",
            "esri/Graphic",
            "esri/layers/FeatureLayer",
            "esri/widgets/Editor"
        ], function (
            WebScene,
            SceneView,
            GraphicsLayer,
            SketchViewModel,
            Slider,
            FeatureFilter,
            geometryEngine,
            Graphic,
            FeatureLayer,
            Editor
        ) {
            // Load webscene and display it in a SceneView
            //基础图层
            const webscene = new WebScene({
                portalItem: {
                    id: "47241277f5c249d6b1c13840192a7cb0"
                }
            });

            // Create a layer with visualVariables to use interactive handles for size and rotation
            //提供交互编辑+固定样式的模板（旅馆、直升飞机等）
            var recreationLayer = new FeatureLayer({
                title: "Recreation",
                url:
                    "https://services.arcgis.com/V6ZHFr6zdgNZuVG0/arcgis/rest/services/EditableFeatures3D/FeatureServer/1",
                elevationInfo: {
                    mode: "absolute-height"
                },
                renderer: {
                    type: "unique-value", // autocasts as new UniqueValueRenderer()
                    field: "TYPE",
                    visualVariables: [
                        {
                            // size can be modified with the interactive handle
                            type: "size",
                            field: "SIZE",
                            axis: "height",
                            valueUnit: "meters"
                        },
                        {
                            // rotation can be modified with the interactive handle
                            type: "rotation",
                            field: "ROTATION"
                        }
                    ],
                    uniqueValueInfos: [
                        {
                            value: "1",
                            label: "Slide",
                            symbol: {
                                type: "point-3d", // autocasts as new PointSymbol3D()
                                symbolLayers: [
                                    {
                                        type: "object",
                                        resource: {
                                            href:
                                                "https://static.arcgis.com/arcgis/styleItems/Recreation/gltf/resource/Slide.glb"
                                        }
                                    }
                                ],
                                styleOrigin: {
                                    styleName: "EsriRecreationStyle",
                                    name: "Slide"
                                }
                            }
                        },
                        {
                            value: "2",
                            label: "Swing",
                            symbol: {
                                type: "point-3d", // autocasts as new PointSymbol3D()
                                symbolLayers: [
                                    {
                                        type: "object",
                                        resource: {
                                            href:
                                                "https://static.arcgis.com/arcgis/styleItems/Recreation/gltf/resource/Swing.glb"
                                        }
                                    }
                                ],
                                styleOrigin: {
                                    styleName: "EsriRecreationStyle",
                                    name: "Swing"
                                }
                            }
                        },
                    ]
                }
            });

            webscene.add(recreationLayer);

            // create the SceneView
            const view = new SceneView({
                container: "viewDiv",
                qualityProfile: "high",
                map: webscene
            });

            //创建编辑页（右上角）
            view.when(function () {
                view.popup.autoOpenEnabled = false; //disable popups
                // Create the Editor
                var editor = new Editor({
                    view: view
                });
                // Add widget to top-right of the view
                view.ui.add(editor, "top-right");
            });

            // add a GraphicsLayer for the sketches and the buffer
            let sketchLayer = new GraphicsLayer();
            //缓冲区
            let bufferLayer = new GraphicsLayer();
            view.map.addMany([bufferLayer, sketchLayer]);

            // create the layerView's to add the filter
            //建筑
            let sceneLayerView = null;
            //树木
            let featureLayerView = null;
            view.map.load().then(function () {
                // loop through webmap's operational layers
                view.map.layers.forEach(function (layer, index) {
                    view
                        .whenLayerView(layer)
                        .then(function (layerView) {
                            if (layer.type === "feature") {
                                featureLayerView = layerView;
                            }
                            if (layer.type === "scene") {
                                sceneLayerView = layerView;
                            }
                        })
                        .catch(console.error);
                });
            });

            const bufferNumSlider = new Slider({
                container: "bufferNum",
                min: 0,
                max: 1000,
                steps: 1,
                visibleElements: {
                    labels: true
                },
                precision: 0,
                labelFormatFunction: function (value, type) {
                    return value.toString() + "m";
                },
                values: [0]
            });

            let bufferSize = 0;
            bufferNumSlider.on(
                ["thumb-change", "thumb-drag"],
                bufferVariablesChanged
            );
            function bufferVariablesChanged(event) {
                bufferSize = event.value;
                updateFilter();
            }

            // use SketchViewModel to draw polygons that are used as a filter
            //绘制图层
            let sketchGeometry = null;
            const sketchViewModel = new SketchViewModel({
                layer: sketchLayer,
                view: view,
                pointSymbol: {
                    type: "simple-marker",
                    style: "circle",
                    size: 10,
                    color: [255, 255, 255, 0.8],
                    outline: {
                        color: [211, 132, 80, 0.7],
                        size: 10
                    }
                },
                polylineSymbol: {
                    type: "simple-line",
                    color: [211, 132, 80, 0.7],
                    width: 6
                },
                polygonSymbol: {
                    type: "polygon-3d",
                    symbolLayers: [
                        {
                            type: "fill",
                            material: {
                                color: [255, 255, 255, 0.8]
                            },
                            outline: {
                                color: [211, 132, 80, 0.7],
                                size: "10px"
                            }
                        }
                    ]
                },
                defaultCreateOptions: { hasZ: false }
            });

            sketchViewModel.on(["create"], function (event) {
                // update the filter every time the user finishes drawing the filtergeometry
                if (event.state == "complete") {
                    sketchGeometry = event.graphic.geometry;
                    updateFilter();
                }
            });

            sketchViewModel.on(["update"], function (event) {
                const eventInfo = event.toolEventInfo;
                // update the filter every time the user moves the filtergeometry
                if (eventInfo && eventInfo.type.includes("move")) {
                    if (eventInfo.type === "move-stop") {
                        sketchGeometry = event.graphics[0].geometry;
                        updateFilter();
                    }
                }
                // update the filter every time the user changes the vertices of the filtergeometry
                if (eventInfo && eventInfo.type.includes("reshape")) {
                    if (eventInfo.type === "reshape-stop") {
                        sketchGeometry = event.graphics[0].geometry;
                        updateFilter();
                    }
                }
            });

            //设置筛选的图层
            // select the layer to filter on
            let featureLayerViewFilterSelected = true;
            document
                .getElementById("featureLayerViewFilter")
                .addEventListener("change", function (ev) {
                    featureLayerViewFilterSelected = !!ev.target.checked;
                    updateFilter();
                });
            let sceneLayerViewFilterSelected = true;
            document
                .getElementById("sceneLayerViewFilter")
                .addEventListener("change", function (ev) {
                    sceneLayerViewFilterSelected = !!ev.target.checked;
                    updateFilter();
                });

            // draw geometry buttons - use the selected geometry to sktech
            document.getElementById(
                "point-geometry-button"
            ).onclick = geometryButtonsClickHandler;
            document.getElementById(
                "line-geometry-button"
            ).onclick = geometryButtonsClickHandler;
            document.getElementById(
                "polygon-geometry-button"
            ).onclick = geometryButtonsClickHandler;
            function geometryButtonsClickHandler(event) {
                const geometryType = event.target.value;
                clearFilter();
                sketchViewModel.create(geometryType);
            }

            // get the selected spatialRelationship
            let selectedFilter = "disjoint";
            document
                .getElementById("relationship-select")
                .addEventListener("change", function (event) {
                    var select = event.target;
                    selectedFilter = select.options[select.selectedIndex].value;
                    updateFilter();
                });

            // remove the filter
            document
                .getElementById("clearFilter")
                .addEventListener("click", function () {
                    clearFilter();
                });

            function clearFilter() {
                sketchGeometry = null;
                filterGeometry = null;
                sketchLayer.removeAll();
                bufferLayer.removeAll();
                sceneLayerView.filter = null;
                featureLayerView.filter = null;
                recreationLayer.filter = null;
            }

            // set the geometry filter on the visible FeatureLayerView
            function updateFilter() {
                updateFilterGeometry();
                featureFilter = {
                    // autocasts to FeatureFilter
                    geometry: filterGeometry,
                    spatialRelationship: selectedFilter
                };
                //设置过滤器，进行条件筛选
                if (featureLayerView) {
                    if (featureLayerViewFilterSelected) {
                        recreationLayer.filter = featureFilter;
                        featureLayerView.filter = featureFilter;
                    } else {
                        recreationLayer.filter = null;
                        featureLayerView.filter = null;
                    }
                }
                if (sceneLayerView) {
                    if (sceneLayerViewFilterSelected) {
                        recreationLayer.filter = featureFilter;
                        sceneLayerView.filter = featureFilter;
                    } else {
                        recreationLayer.filter = null;
                        sceneLayerView.filter = null;
                    }
                }
            }

            // update the filter geometry depending on bufferSize
            let filterGeometry = null;
            function updateFilterGeometry() {
                // add a polygon graphic for the bufferSize
                if (sketchGeometry) {
                    if (bufferSize > 0) {
                        var bufferGeometry = geometryEngine.geodesicBuffer(
                            sketchGeometry,
                            bufferSize,
                            "meters"
                        );
                        if (bufferLayer.graphics.length === 0) {
                            bufferLayer.add(
                                new Graphic({
                                    geometry: bufferGeometry,
                                    symbol: sketchViewModel.polygonSymbol
                                })
                            );
                        } else {
                            bufferLayer.graphics.getItemAt(0).geometry = bufferGeometry;
                        }
                        filterGeometry = bufferGeometry;
                    } else {
                        bufferLayer.removeAll();
                        filterGeometry = sketchGeometry;
                    }
                }
            }

            document.getElementById("infoDiv").style.display = "block";

            
    });
    </script>
</head>

<body>
    <div id="viewDiv"></div>
    <div id="editorDiv"></div>
    <div id="infoDiv" class="esri-widget">
        <b>根据几何图形查询</b><br /><br />
        选择筛选图层:<br />
        <input id="sceneLayerViewFilter" type="checkbox" checked />
        建筑<br />
        <input id="featureLayerViewFilter" type="checkbox" checked /> 树木<br />
        <br />绘制过滤条件:
        <div class="geometry-options">
            <button class="esri-widget--button esri-icon-map-pin geometry-button"
                    id="point-geometry-button"
                    value="point"
                    title="点"></button>
            <button class="esri-widget--button esri-icon-polyline geometry-button"
                    id="line-geometry-button"
                    value="polyline"
                    title="线"></button>
            <button class="esri-widget--button esri-icon-polygon geometry-button"
                    id="polygon-geometry-button"
                    value="polygon"
                    title="面"></button>
        </div>
        <br />
        <label for="relationship-select">空间关系:</label>
        <select id="relationship-select" class="options">
            <option value="intersects">相交</option>
            <option value="contains">包含</option>
            <option value="disjoint" selected>不相交</option>
        </select><br /><br />
        <label for="bufferNum">设置缓冲区大小:</label>
        <div id="bufferNum"></div>
        <br /><br />
        <button class="esri-button" id="clearFilter" type="button">
            清除过滤条件
        </button>
    </div>
</body>
</html>
