@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <label id="id0" data-value="0">0</label>
        <label id="id1" data-value="1">1</label>
    </div>
</body>
</html>

<script>
    var id0Value = ("$id0").attr("data-value");
    var id1Value = ("$id1").attr("data-value");
    alert('id0 value is' + id0Value);
    alert('id1 value is' + id1Value);
</script>