@{
    Layout = null;
}

<link rel="stylesheet" href="~/Scripts/layer-v3.0.1/mobile/need/layer.css">
<link rel="stylesheet" href="~/Scripts/layer-v3.0.1/skin/default/layer.css">

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/layer-v3.0.1/layer.js"></script>

<body class="bodyBg font_fm">
    <section>
        @RenderBody()
    </section>
    @RenderSection("scripts", required: false)
</body>