<div class="logo">
    <a [routerLink]="['/']">
        <img class="expanded" xh-src="./assets/images/logo.png" alt="{{settings.app.name}}" style="max-height:40px;" />
        <img class="collapsed" xh-src="./assets/images/sellercenter.png" alt="{{settings.app.name}}" style="max-height:30px;" />
    </a>
</div>
<div class="top-nav-wrap">
    <ul class="top-nav">
        <!-- Menu -->
        <li>
            <div class="item" (click)="toggleCollapsedSideabar()">
                <i class="anticon anticon-menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
            </div>
        </li>
    </ul>
</div>
