<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- 要写入的目标内容 -->
	<targets>
		<!-- 将日志写入文件的具体位置 -->
		<target name="allfile" xsi:type="File"
		        fileName="c:\DemoLogs\nlog-all-${shortdate}.log"/>
	</targets>
	<!-- 将日志程序名称映射到目标的规则 -->
	<rules>
		<!--记录所有日志，包括Microsoft级别-->
		<logger name="*" minlevel="Trace" writeTo="allfile"/>
	</rules>
</nlog>