@model StudentDetailsViewModel
<html>
<head>
    <title> </title>
</head>
<body>
<h3>@Model.Title</h3>
<div>
    姓名 :@Model.Student.Name
</div>
<div>
    邮箱 :@Model.Student.Email
</div>
<div>
    主修科目 :@Model.Student.Major
</div>
</body>
</html>