@model Student
@{
    ViewBag.Title = "Student Details";
}
<html>
<head>
    <title> </title>
</head>
<body>
<h3>@ViewBag.PageTitle</h3>
<div>
    姓名 :@Model.Name
</div>
<div>
    邮箱 :@Model.Email
</div>
<div>
    主修科目 :@Model.Major
</div>
</body>
</html>