<PageTitle>CustomComponent</PageTitle>

<h1>@Title</h1>
<p>@Description</p>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }
}
