@page "/nav-example"
@rendermode @(new InteractiveServerRenderMode(prerender: true))

<nav >
    <div>
        <NavLink href="use-custom-component">
            <span aria-hidden="true"></span>custom component
        </NavLink>
    </div>

    <div >
        <NavLink href="databind">
            <span aria-hidden="true"></span>data bind
        </NavLink>
    </div>

    <div >
        <NavLink href="manual-bind-value">
            <span aria-hidden="true"></span>manual bind value
        </NavLink>
    </div>

    <div >
        <NavLink href="eventbinding">
            <span aria-hidden="true"></span>event binding
        </NavLink>
    </div>

    <div >
        <NavLink href="oninputexample">
            <span aria-hidden="true"></span>oninput example
        </NavLink>
    </div>

    <div >
        <NavLink href="validation-form">
            <span aria-hidden="true"></span>validation form
        </NavLink>
    </div>

    <div >
        <NavLink href="custom-dialog">
            <span aria-hidden="true"></span>custom dialog
        </NavLink>
    </div>

    <div >
        <NavLink href="show-custom-dialog2">
            <span aria-hidden="true"></span>custom dialog 2
        </NavLink>
    </div>

    <!-- 其他NavLink -->
</nav>

@code {

}
