@page "/QuickGrid-Example"
@using BlazorDemoApp.Models
@using BlazorDemoApp.Services
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ITeacherService teacherService

<PageTitle>QuickGrid Example</PageTitle>

<h1>QuickGrid Example</h1>

@if (teachers != null)
{
    <QuickGrid Items="@teachers">
        <PropertyColumn Property="@(p => p.Id)" Sortable="true" IsDefaultSortColumn="true" Title="ID" />
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" Title="Name" />
        <PropertyColumn Property="@(p => p.EntryDate)" Format="yyyy-MM-dd" Sortable="true" Title="Entry Date" />
    </QuickGrid>
}
else
{
    <p>Loading...</p>
}


@code {
    private IQueryable<Teacher> teachers=null;

    protected override async Task OnInitializedAsync()
    {
        var data = await teacherService.GetTeachersAsync();
        teachers = data.AsQueryable();
        await base.OnInitializedAsync();
    }
}