<!-- <div class="form-group" >
    <label>容器类型</label>
    <nz-select [(ngModel)]="controlerType" class="form-control" name="controlerTypes" (ngModelChange)="setControlerType()">
        <nz-option *ngFor="let ct of controlerTypes" [nzValue]="ct.id" [nzLabel]="ct.name">
        </nz-option>
    </nz-select>
</div>

<form nz-form [formGroup]="validateForm">
    <nz-form-label [nzSm]="2" [nzXs]="2" nzRequired>容器</nz-form-label>
    <nz-form-control [nzSm]="4" [nzXs]="4">
        <input id="userName" nz-input placeholder="请输入用户名"
        formControlName="userName">
    </nz-form-control>
</form> -->