<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorDemoApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="databind-menu">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>data bind
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="component-menu">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>component
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="route-menu">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>route
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lifecycle-menu">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>lifecycle
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="other-menu">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>other
            </NavLink>
        </div>
    </nav>
</div>

