<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorDemoApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="use-custom-component">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>custom component
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="databind">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>data bind
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manual-bind-value">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>manual bind value
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventbinding">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>event binding
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="oninputexample">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>oninput example
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="validation-form">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>validation form
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="custom-dialog">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>custom dialog
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="show-custom-dialog2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>custom dialog 2
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modal-example">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>modal example
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="popup-example">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>popup example
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dropdown-example">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>dropdown example
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="student-table">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>student table
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nav-example">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>nav example
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lifecycle-example">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>lifecycle example
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lifecycle-example2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>lifecycle example 2
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prerendered-counter-1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>prerendered counter 1
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> weather
            </NavLink>
        </div>
    </nav>
</div>

