@page "/other-menu"
@rendermode @(new InteractiveServerRenderMode(prerender: true))

<h3>Other Menu</h3>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inject-service">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>inject service
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jsinterop">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>jsinterop
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>fetch data
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prerendered-counter-1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>prerendered counter 1
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> weather
            </NavLink>
        </div>
    </nav>
</div>

