body {
    background-color: #fff;
    border-top: 5px solid #3399cc;
}

html {
    background: #fff;
}

.row {
    border: 0px solid green;
}

input.ng-invalid {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid green;
}
