<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Esri.ArcGISRuntime.WPF" version="100.7.0" targetFramework="net461" />
  <package id="GeoAPI" version="1.7.5" targetFramework="net461" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net461" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net461" />
  <package id="NetTopologySuite" version="2.0.0" targetFramework="net461" />
  <package id="NetTopologySuite.Features" version="2.0.0" targetFramework="net461" />
  <package id="NetTopologySuite.IO.GeoJSON" version="2.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
</packages>