@{
    Layout = null;
}

<script src="~/Scripts/angular.min.js"></script>

<div ng-app="">
    <p>字符串连接</p>
    <p>a : <input type="text" ng-model="firstNumber"></p>
    <p>b : <input type="text" ng-model="secondNumber"></p>
    <h1>a + b = {{firstNumber}} + {{secondNumber}} = {{firstNumber + secondNumber}}</h1>
</div>
