
@{
    ViewBag.Title = "DOMAndJQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <button id="bt" onclick="ChangeColor()">Clike To Change Color</button>
</div>

<script>
    function ChangeColor() {
        debugger;
        var Bt = document.getElementById("bt");   //Bt是DOM对象
        Bt.style = "color:brown;";
        debugger;
        var BtJQuery = $(Bt);            //BtJQuery是JQuery对象    
        BtJQuery.css("color", "red");    
        debugger;
    }
</script>

