@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Views/AboutCSS/css/CheckBoxStyle.css" rel="stylesheet" />
</head>

<body>
    <div class="buttonDiv">
        <!--测试开始-->
        <button class="onlineBtnSelect active">
            <i class="icon-onlineCharge "></i>
            在线充值
            <span class=""></span>
        </button>
        <!--测试结束-->
        <button class="offlineeBtn active offlineeBtnUp">
            <i class="icon-offlineCharge"></i>
            <i class="offlineeBtnWord">线下充值</i>
            <span class=""></span>
        </button>
    </div>
</body>
</html>

<script>
    
</script>
