<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ShpFilePath" value="D:\Project\ChangZhen\场镇.shp"></add>
    <add key="TifFilePath" value="D:\Project\ChangZhen\3547.00-564.00.tif"></add>
  </appSettings>
</configuration>