<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ShpFilePath" value="场镇.shp"></add>
    <add key="GraphicShpFilePath" value="绘制图层.shp"></add>
    <add key="ResultShpFilePath" value="结果显示图层.shp"></add>
    <add key="TifFilePath" value="3547.00-564.00.tif"></add>
  </appSettings>
</configuration>