<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Esri.ArcGISRuntime" version="100.9.0" targetFramework="net461" />
  <package id="Esri.ArcGISRuntime.Hydrography" version="100.9.0" targetFramework="net461" />
  <package id="Esri.ArcGISRuntime.runtimes.win" version="100.9.0" targetFramework="net461" />
  <package id="Esri.ArcGISRuntime.WPF" version="100.9.0" targetFramework="net461" />
  <package id="MarkedNet" version="2.1.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
</packages>